<%-include('../partials/adminHeader.ejs') %>


  <div class="container-fluid">
   
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-sm-8 col-md-12 col-xl-12">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <a href="" class="">
                  <h3 class="text-primary">
                   Category Management
                  </h3>
                </a>
              </div>
        </div>

        <div class="col-12 col-sm-8 col-md-12 col-xl-12">

            <div class="nav-item dropdown">
                <a href="#" class="" data-bs-toggle="dropdown">

                    <button  class="btn btn-primary nav-link dropdown-toggle">
                    <span class="d-none d-lg-inline-flex">Add Category</span>
                        
                    </button>
                </a>
                <div class="dropdown-menu">
                        <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">

                            <form action="/admin/addcategory" method="post">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" name="type"
                                        placeholder="Product Name" />
                                    <label for="floatingInput">Enter New Model or Type</label>
                                </div>
                               
                                <button type="submit" class="btn btn-primary py-3 w-100 mb-4">
                                    Submit
                                </button>
                                <% if(typeof message !=='undefined' ) { %>
                                    <p style="color: red">
                                        <%= message %>
                                    </p>
                                    <% } %>
                            </form>
                        </div>
                

                </div>
            </div>
        </div>



    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 col-sm-8 col-md-9 col-lg-5 col-xl-9">
                <div class="bg-light rounded h-100 p-4">
                    <table class="table text-responsive align-middle table-striped table-hover mb-0">
                        <thead>
                            <tr>
                                <th scope="col">SI NO</th>
                                <th scope="col">Category Name</th>
                                <th scope="col">Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% if( category.length> 0){ %>
                                <% for(let i=1;i <=category.length; i++){ %>
                                    <tr>
                                        <th scope="row">
                                            <%= i %>
                                        </th>
                                        <td class="text-success">
                                            <%= category[i-1].categoryname %>
                                        </td>
                                       
                                        <td>
                                            <a class="btn btn-outline-primary text-danger"
                                                href="/admin/delete-category?id=<%= category[i-1]._id %>"><i
                                                    style="color: #ff0000;"
                                                    class="m-r-5 mdi mdi-border-color"></i>Delete</a><br>
                                        </td>
                                    </tr>
                                    <% }} else { %>
                                        <tr>
                                            <td colspan="5">Category Not Found</td>
                                        </tr>
                                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>

    </div>
</div>
</div>

    <%-include('../partials/adminFooter.ejs') %>