<%-include('../partials/adminHeader.ejs') %>

<div class="container-fluid pt-4 px-4">
  <div class="bg-light text-center rounded p-4">
   
    <div class="table-responsive">
      <table id="myTable"
        class="table text-start align-middle table-bordered table-hover mb-0"
      >
        <thead>
          <tr class="">
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Brand</th>
            <th scope="col">Gender</th>
            <th scope="col">Size</th>
            <th scope="col">Rating</th>
            <th scope="col">Category</th>
            <th scope="col">Product Image</th>
            <th scope="col">Action</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% if( product.length > 0){ for(let i = 1;i <= product.length; i++){ %>
          <tr>
            <td><%= product[i-1].name %></td>
            <td><%= product[i-1].price%></td>
            <td><%= product[i-1].stock%></td>
            <td><%= product[i-1].brand %></td>
            <td><%= product[i-1].gender %></td>
            <td><%= product[i-1].size %></td>
            <td><%= product[i-1].rating %></td>
            <td><%= product[i-1].category %></td>

            <td><img src="/productImage/<%=product[i-1].image %>" alt="ZycaZ" width="150vw" height="150vh"></td>
            <td>
              <a
                class="btn btn-sm btn-primary"
                href="/admin/editproduct?id=<%= product[i-1]._id %>"
                >Edit</a
              >
            </td>
            <td>
              <a
                class="btn btn-sm btn-outline-danger"
                href="/admin/deleteproduct?id=<%= product[i-1]._id %>"
                >Delete</a
              >
              <%if(product[i-1].isDelete==0){%>
                <a
                class="btn btn-sm btn-outline-success"
                href="/admin/backTodelete?id=<%= product[i-1]._id %>"
                >SoftDeleted</a
              >
              <%}else{%>

                <a
                  class="btn btn-sm btn-outline-warning"
                  href="/admin/softdelete?id=<%= product[i-1]._id %>"
                  >SoftDelete</a
                >
              <%}%>
            </td>

          </tr>
          <% } } else{ %>
          <tr>
            <td colspan="5">Product Not Found</td>
          </tr>
          <% } %>
        </tbody>
      </table>
     
    </div>
  </div>
</div>
<!-- Recent Sales End -->

<%-include('../partials/adminFooter.ejs') %>
