<%-include('../partials/adminHeader.ejs') %>

<div class="container-fluid pt-4 px-4">
  <div class="bg-light text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
   
      <form action="" class="d-none md-0 d-md-flex ms-4">
        <input
          class="form-control  border-0"
          type="search"
          name="search"
          placeholder="Search"
        />
        <!-- <input type="submit" value="search"> -->
        
      </form>
      <a href="">Show All</a>
    </div>
    <div class="table-responsive">
      <table
        class="table text-start align-middle table-bordered table-hover mb-0"
      >
        <thead>
          <tr class="">
            <th scope="col">SI.NO</th>
            <th scope="col">Name</th>
            <th scope="col">UserName</th>
            <th scope="col">Mobile</th>
            <!-- <th scope="col">Status</th> -->
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if( users.length > 0){ for(let i = 1;i <= users.length; i++){ %>
          <tr>
            <td><%= i %></td>
            <td><%= users[i-1].name %></td>
            <td><%= users[i-1].username %></td>
            <td><%= users[i-1].mobile %></td>
           
            <td>
              <a
                class=""
                href="/admin/block-user?id=<%= users[i-1]._id %>"
                >
                <% if(users[i-1].isVerified) { %>
                 <i class="btn btn-outline-primary m-2">Block</i> 
                 <% }else{ %>  
                 <i class="btn btn-outline-success m-2">UnBlock</i> <%
                } %>
                </a>
            </td>
          </tr>
          <% } } else{ %>
          <tr>
            <td colspan="5">Users Not Found</td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <div class="mt-5">
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item ">
                <a class="page-link page-link-prev" href="?page=<%= previous %>" aria-label="Previous" tabindex="-1" >
                    <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                </a>
            </li>
            <% for(let i=1; i<= totalPages; i++) { %>
              <%if(currentPage==i){%>

                <li class="page-item active" aria-current="page"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
              <%}else{%>
                <li class="page-item" aria-current="page"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>

             <% }%>

            <%  } %> 
            <li class="page-item">
                <a class="page-link page-link-next" href="?page=<%= next %>" aria-label="Next">
                    Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                </a>
            </li>
        </ul>
      </nav>
    </div>
    </div>
  </div>
</div>
<!-- Recent Sales End -->

<%-include('../partials/adminFooter.ejs') %>
