<%-include('../partials/adminHeader.ejs') %>

<div class="container-fluid pt-4 px-4">
  <div class="bg-light text-center rounded p-4">
    
    <div class="table-responsive">
      <table id="myTable"
        class="table text-start align-middle  table-hover mb-0"
      >
        <thead>
          <tr class="">
            <th scope="col">SI.NO</th>
            <th scope="col">Name</th>
            <th scope="col">UserName</th>
            <th scope="col">Mobile</th>
            <!-- <th scope="col">Status</th> -->
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if( users.length > 0){ for(let i = 1;i <= users.length; i++){ %>
          <tr>
            <td><%= i %></td>
            <td><%= users[i-1].name %></td>
            <td><%= users[i-1].username %></td>
            <td><%= users[i-1].mobile %></td>
           
            <td>
              <a
                class=""
                href="/admin/block-user?id=<%= users[i-1]._id %>"
                >
                <% if(users[i-1].isVerified) { %>
                 <i class="btn btn-outline-primary m-2">Block</i> 
                 <% }else{ %>  
                 <i class="btn btn-outline-success m-2">UnBlock</i> <%
                } %>
                </a>
            </td>
          </tr>
          <% } } else{ %>
          <tr>
            <td colspan="5">Users Not Found</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Recent Sales End -->

<%-include('../partials/adminFooter.ejs') %>
