<%-include('../partials/userLogin.ejs',{count:count,wcount:wcount}) %> 

<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <div class="checkout-discount">
                    <form action="/add-coupon" method="post">
                        <input type="text" class="form-control"  name="offer" required id="checkout-discount-input">
                        <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
                    </form>
                    <% if(nocoupon) { %>
                        <p style="color: red">INVALID COUPON</p>
                     <% } %>
                </div><!-- End .checkout-discount -->
                <form action="/payment" method="post" >
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>First Name *</label>
                                        <input type="text" class="form-control" name="firstname" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Last Name *</label>
                                        <input type="text" class="form-control" name="lastname" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                               

                                <label>Country *</label>
                                <input type="text" class="form-control" name="country" required>

                                <label>Street address *</label>
                                <input type="text" class="form-control" placeholder="House number and Street name" name="streetAddress" required>
                                <input type="text" class="form-control" placeholder="Appartments, suite, unit etc ..." name="streetAddress2" required>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Town / City *</label>
                                        <input type="text" class="form-control" name="city" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>State / County *</label>
                                        <input type="text" class="form-control" name="state" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Postcode / ZIP *</label>
                                        <input type="text" class="form-control" name="pin" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Phone *</label>
                                        <input type="tel" class="form-control" name="mobileno" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <label>Email address *</label>
                                <input type="email" class="form-control" name="email" required>

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkout-create-acc">
                                    <label class="custom-control-label" for="checkout-create-acc">Create an account?</label>
                                </div><!-- End .custom-checkbox -->

                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkout-diff-address">
                                    <label class="custom-control-label" for="checkout-diff-address">Ship to a different address?</label>
                                </div><!-- End .custom-checkbox -->

                                <label>Order notes (optional)</label>
                                <textarea class="form-control" cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <% for(let key of cartProducts.item){%>
                                        <tbody>
                                        <tr>
                                            <td><a href="#"><%=key.productId.name%></a></td>
                                            <td>₹.<%=
                                                key.qty*key.productId.price %></td>
                                        </tr>
                                        <%}%>
                                        <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td><% if(id){ %>
                                                ₹<%= cartProducts.totalPrice %>
                                                    <% } %></td>
                                        </tr><!-- End .summary-subtotal -->
                                      
                                        <tr>
                                            <td>Shipping:</td>
                                            <td>Free shipping</td>
                                        </tr>
                                        <tr class="">
                                            <td>
                                                Coupon
                                            </td>
                                            <td>
                                                <%= offer.name %>
                                            </td>
                                        </tr>
                                        <tr class="">
                                            <td>
                                                Discount
                                            </td>
                                            <td>
                                                <%= offer.discount %>%
                                            </td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td><% if(id){ %>
                                                ₹ <%= couponTotal %>
                                                    <% } %> </td>
                                        </tr><!-- End .summary-total -->
                                    </tbody>

                                </table><!-- End .table table-summary -->

                                <div class="accordion-summary" id="accordion-payment">
                                    <div class="card" >
                                        <div class="card-header" id="heading-2"> 
                                        <h2 class="card-title"> 
                                        <input type="radio" data-toggle="collapse" name="payment" id="" value="COD"> 
                                         Cash on delivery</h2>
                                        </div>
                                    </div><!-- End .card -->

                                    <div class="card">
                                        <div class="card-header" id="heading-2">
                                        <h2 class= "card-title">
                                        
                                        <input type="radio" data-toggle="collapse" name="payment" id="" value="PayPal"> 
                                        PayPal</h2>
                                        </div>
                                    </div><!-- End .card -->
                                </div><!-- End .accordion -->

                                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                    <span class="btn-text">Place Order</span>
                                    <span class="btn-hover-text">Proceed to Checkout</span>
                                </button>
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
<%-include('../partials/landingFooter.ejs') %> 

